* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $violet;

    max-height: 1000px;
}

header {
    width: 100%;
    margin-top: -10px;

    img {
        width: 150px;
        height: 75px;
    }
}

