// Variables
/// Primary
$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

// Fonts
$heading-font: 'Poppins', sans-serif;
$body-font: 'Open Sans', sans-serif;

// Imports
@import "general";
@import "container";
@import "footer";
@import "medias";